<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880829570394-98o4tchdfsjtiibgg4b4jpq5efg4khth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880829570394-98o4tchdfsjtiibgg4b4jpq5efg4khth</string>
	<key>API_KEY</key>
	<string>AIzaSyBRavuAsegkbIBR6Zy2wz3zgZqPqGMADKo</string>
	<key>GCM_SENDER_ID</key>
	<string>880829570394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.luInteractiveCampusMapFlutter</string>
	<key>PROJECT_ID</key>
	<string>lu-interactive-campus-map</string>
	<key>STORAGE_BUCKET</key>
	<string>lu-interactive-campus-map.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880829570394:ios:35c0ebd88d4e43f289a763</string>
	<key>DATABASE_URL</key>
	<string>https://lu-interactive-campus-map-default-rtdb.firebaseio.com</string>
</dict>
</plist>